* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.item-cart {
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.item-data {
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: start;
}

.images {
    width: 10%;
}

.img-item {
    width: 100%;
}

.thumbnail {
    width: 25%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    font-size: 2rem;
}


