* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  padding: 0;
}

.header {
  border: solid green;
  padding: 16px 64px 16px 64px;
}

.app_main {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  padding: 0 32px 0 32px;
}

.app_main_filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 520px;
}

.filter_option {
  flex: 1;
  border: solid red;
  height: 250px;
  padding: 0 .5rem .5rem .5rem;
  display: flex;
  flex-direction: column;
}

.filter_option-list {
  overflow: auto;
}

.filter_option-header {
  background-color: grey;
  color: white;
  text-align: center;
}

.filter_option > form {
  display: flex;
  flex-direction: column;
}

.filter_option-wrapepr {
  display: flex;
  gap: .5rem;
}

.filter_option_count {
  color: grey;
}

.products {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.products-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-list {
  width: 100% !important;
}

.display-list {
  flex-direction: column; 
}

.button-list {
  background-color: grey;
  color: white;
}

.products-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 5;
}

.product-card {
  display: flex;
  width: 175px;
  height: 200px;
  padding: .5rem;
  border: solid blue;
}

