* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  padding: 0;
}

.header, .footer {
  border: solid green;
  padding: 16px 64px 16px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_cart {
  position: relative;
  padding: 8px;
  cursor: pointer;
}

.header_cart > img {
  width: 24px;
  height: 24px;
}

.cart_counter {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 0;
  top: 0;
  right: 0;
  color: white;
  background-color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_main {
  margin: 16px 0 16px 0;
  display: flex;
  gap: 16px;
  padding: 0 64px 0 64px;
}

.app_main_filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 520px;
}

.filter_option {
  flex: 1;
  border: solid red;
  height: 250px;
  padding: 0 .5rem .5rem .5rem;
  display: flex;
  flex-direction: column;
}

.filter_option-list {
  overflow: auto;
}

.filter_option-header {
  background-color: grey;
  color: white;
  text-align: center;
}

.filter_option > form {
  display: flex;
  flex-direction: column;
}

.filter_option-wrapper {
  display: flex;
  gap: .5rem;
}

.filter_option_count {
  color: grey;
}

.products {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.products-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-list {
  width: 100% !important;
}

.display-list {
  flex-direction: column; 
}

.button-list {
  background-color: grey;
  color: white;
}

.products-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 5;
}

.product-card {
  display: flex;
  width: 175px;
  height: 200px;
  padding: .5rem;
  border: solid blue;
}

.hide {
  display: none;
}

.shopping-cart {
  display: flex;
  justify-content: space-between;
}

.shop-items {
  width: 70%;
}

.shop-item {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: solid 2px blue;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}

.shop-image {
  width: 20%;
  object-fit: contain;
}

.shop-data {
  width: 60%;
}

.shop-numerical-data {
  width: 15%;
  padding-top: 2rem;
  text-align: center;
}

.shop-amount {
  display: flex;
  justify-content: space-between;
}

.summary {
  border: solid 2px blue;
  padding: 1rem;
}
