* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.products-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  display: flex;
  padding: 1rem;
  border: solid blue;
}